*{
    margin:0px;
    padding:0px;
}
body{
    background-color: aquamarine;
}
.scoreboard{
    background-color:#fb7185;
}
.choices{
    background-color: #22c55e;
    padding:10px;
    width: 20%;
}
.user,.pc{
    padding:15px;
}
.btn{
    width:40%;

}
.btn button{
    padding:10px;
}
.footer{
    position: fixed;
    bottom:0px;
    background-color: blanchedalmond;
    width: 100%;
}
